<html>
	<head></head>
	<body align="center" bgcolor = "pink">
		<font color = "green">
			<h1 align="center">Retail Application</h1>
			<button type="button"><a href="/" style="text-decoration:none">Home</a></button>&emsp;&emsp;&emsp;
			<button type="button"><a href="" style="text-decoration:none">Billing</a></button>&emsp;&emsp;&emsp;
			<button type="button"><a href="" style="text-decoration:none">Stock Check</a></button>&emsp;&emsp;&emsp;
			<button type="button"><a href="" style="text-decoration:none">Add Stock</a></button>
			<hr>
		</font>
	</body>
</html>