<html>
	<head>
		<title>
			Home Page
		</title>
	</head>
	<body align="center">
		<button type="button"><a href="/home_page/" style="text-decoration:none">Home</a></button>&emsp;&emsp;&emsp;
		<button type="button"><a href="" style="text-decoration:none">Billing</a></button>&emsp;&emsp;&emsp;
		<button type="button"><a href="" style="text-decoration:none">Stock Check</a></button>&emsp;&emsp;&emsp;
		<button type="button"><a href="" style="text-decoration:none">Add Stock</a></button>
		<hr>
	</body>
</html>